body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    padding:20px;
}

* {
    box-sizing: border-box;
}
.main{
    width: 450px;
    display: inline-block;
    margin-bottom: 50px;

}
.second{
    vertical-align: top;
    margin-left: 100px;
    width: 300px;
    display: inline-block;

}
.container {
    padding: 16px;
    background-color: white;
}
.login {
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}